@CHARSET "gb2312";


body {
	background-color:#e9e9e9;
}

/*a, a:VISITED {
	color:#555;
}*/

#logo {
	width:128px;
	display:block;
	margin:0 auto;
}


header {
	margin:8px 0;
}

.fenxiang {
	text-align:center;
	border-top:1px solid #ccc;
	margin:0;
	margin-top:11px;
	margin-bottom:8px;
	padding-top:10px;
	padding-left:30px;



}

.top-links {
	margin-top:15px;
	text-align:center;
	padding-right: 5px;
	padding-left: 5px;
}
.top-links .btn-default,
.top-links .btn-default:VISITED {
	color:#00B98D;
	background:none;
}
.top-links .col-xs-3 {
	padding-right: 5px;
	padding-left: 5px;
}





footer {
	text-align:center;
	border-top:3px solid #00B98D;
	padding-top:10px;
	padding-bottom:10x;
	background-color:#E9E9E9;
	text-align:center;
	margin:0;
	font-size:9pt;
}
footer,
footer a,
footer a:VISITED {
	color:#888;
}


nav {
	background-color:#00BB88;
	padding:5px 10px;
}
nav ul {
	margin:0;
	padding:0;
}
nav li {
	width:20%;
	float:left;
	list-style:none;
	padding:0;
	margin:0;
	text-align:center;
	line-height:200%;
}
nav li a,
nav li a:VISITED,
nav li a:hover {
	color:#fff;
}

h4 {
	font-weight:bold;
	border-bottom:1px solid #00B98D;
	padding-bottom:5px;
	margin-top:20px;
	font-size:11pt;
}
h4.c2 {
	border-bottom-color:#69cafe;
}

.article-item {
	margin:0;
	padding-left:10px;
}
.article-item li {
	float:left;
	width:50%;
	list-style:none;
	line-height:200%;
}
.article-item li:BEFORE {
	font-family: 'Glyphicons Halflings';
	content: "\e080";
	color:#e8ba19;
	line-height:1;
}
.article-item li a {
	margin-left:5px;
}
.article-item-row li {
	list-style:none;
	line-height:200%;
	width:100%;
	float:none;
}

.img-item {
	padding:0 10px;
}
.img-item>div {
	margin-top:1px;
}
.img-item p {
	text-align:center;
	margin:5px 0;
}
.img-item small {
	color: #aaa;
	display:block;
	text-align:center;
}

.more {
	background-color:#dbdbdb;
	text-align:center;
	padding:5px;
	margin-top:10px;
	display:block;
}

.breadcrumb {
	color: #999;
	background:none;
	padding:10px 0 0 0;
	border-radius:0;
}

.breadcrumb li a:link {color: #999;}
.breadcrumb li a:visited {color: #999;}

h3 {
	font-weight:bold;
	font-size:12pt;
	text-align:center;
	border-bottom:1px solid #aaa;
	padding-bottom:9px;
}

.content {
	margin-top:4px;
	overflow:hidden;
}
.content img,
.content table {
	width:100%;
}
.content2 p[align=center] img {
	width:45%;
	margin:0px 3px 6px 3px;
	padding:4px;background:#fff;border:1px solid #ddd;
}


.content br{
	display:inline; line-height:26px;

}

.content p{
	padding:8px 0 0 0;
}




#cShow img {
	width:auto;
	vertical-align:middle;
}

.content-footer {
	margin-top:20px;
	border-top:1px solid #aaa;
	font-size:9pt;
	padding-top:10px;
}
.content-footer .r {
	text-align:right;
}

.glyphicon-thumbs-up,
.article-btn-up {
	margin-right:4px;
	color:#00B98D;
	font-weight:bold;
}
.glyphicon-thumbs-down,
.article-btn-down {
	color:#0068b7;
	font-weight:bold;
}
.article-btn-up span,
.article-btn-down span {

	color:#333;
}
.pre-next-btn a {
	font-weight:bold;
	color:#00B98D;
	margin-left:4px;
}


.article-list {
	margin:0;
	padding:0 15px;
}
.article-list li {
	list-style:none;
	line-height:250%;
	border-bottom:1px dashed #ccc;
}
.article-list .column,
.article-list .column:VISITED {
	color:#0087E1;
}
.article-list li em {
	float:right;
	font-style:normal;
	color:#999;
}
.article-list li:BEFORE {
	font-family: 'Glyphicons Halflings';
	content: "\e080";
	color:#fff;
	line-height:0;
	opacity: 0.5
}
/*.article-list li a {
	margin-left:5px;
}*/
.article-list-btns {

	margin-bottom:10px;
	border-bottom:1px solid #ccc;
}

.article-list-btns a {margin-left:3px;}

.article-list-btns .btn {
	border-bottom:none;
	border-radius: 6px 6px 0  0;
	padding: 4px 6px;
}
.article-list-btns .btn-default,
.article-list-btns .btn-default:VISITED {
	color:#DD157D;
}
.article-list-btns .btn-primary,
.article-list-btns .btn-primary:VISITED {
	color:#fff;
}

.pager li.active>a,
.pager li.active>span
.pager li.active>a:hover,
.pager li.active>span:hover,
.pager li.active>a:focus,
.pager li.active>span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #d43686;
    border-color: #d43686;
}


.lanmu-item>div {
	margin-bottom:30px;
}
.lanmu-item a {
	display:block;
	border:1px solid #ccc;
	padding:2px;
	background-color:#fff;
}
.lanmu-item a:hover,
.lanmu-item a:ACTIVE {
	border-color:#7bd2f2;
}
.lanmu-item img {
	width:100%;
}

.pager li>a, .pager li>span {
	padding:5px 7px;
	font-size:9pt;
	border-radius:3px;
}


.nrad {
	width:100%;
	overflow:hidden;
	margin:1px 0 5px 0;
}

.lanmuad {
	width:100%;
	overflow:hidden;
	margin:8px 0 10px 0;

}
.pagearti{margin:0 auto 10px; text-align:center;}
.pagearti span,.pagearti a{background-color:#FBFBFB;border:1px solid #E7E7E7;box-shadow:1px 1px 1px #F5F5F5;color:#999999;display:inline-block;height:16px;line-height:16px;margin:0 5px 0 0;padding:1px 5px;font-family:"ו"; font-size:12px;}
.pagearti span:hover,.pagearti a:hover{background-color:#1C91DB;color:#FFFFFF;text-decoration:none;}
.pagearti .thisclass{background-color:#1C91DB;color:#FFFFFF; border:1px solid #E1E1E1;}
.pagearti a.red{text-decoration:none;}
.pagearti a.white{margin:0;}
.pagearti .thisclass{background-color:#1C91DB;color:#FFFFFF; border:1px solid #E1E1E1;}  

.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{color:#999;cursor:not-allowed;background-color:#fff;border-color:#ddd}.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px}.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-bottom-left-radius:6px;border-top-left-radius:6px}.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px}.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}.pager{padding-left:10;margin:20px 0;text-align:center;list-style:none}.pager:before,.pager:after{display:table;content:" "}.pager:after{clear:both}.pager:before,.pager:after{display:table;content:" "}.pager:after{clear:both}.pager li{display:inline}.pager li>a,.pager li>span{display:inline-block;padding:5px 14px;background-color:#fff;border:1px solid #ddd;border-radius:15px}.pager li>a:hover,.pager li>a:focus{text-decoration:none;background-color:#eee}.pager .next>a,.pager .next>span{float:right}.pager .previous>a,.pager .previous>span{float:left}.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span{color:#999;cursor:not-allowed;background-color:#fff}.label{display:inline;padding:.2em .6em .3em;font-size:25%;font-weight:bold;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em}.label[href]:hover,.label[href]:focus{color:#fff;text-decoration:none;cursor:pointer}.label:empty{display:none}